
/*--------------------------------------------------------------
# Why Us Section
--------------------------------------------------------------*/
.why-us .card-item {
    background: color-mix(in srgb, var(--default-color), transparent 95%);
    padding: 50px 30px;
    transition: all ease-in-out 0.3s;
    height: 100%;
    position: relative;
  }
  
  .why-us .card-item span {
    color: var(--accent-color);
    display: block;
    font-size: 28px;
    font-weight: 700;
  }
  
  .why-us .card-item h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
  }
  
  .why-us .card-item h4 a {
    color: var(--heading-color);
  }
  
  .why-us .card-item p {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin: 0;
    padding: 0;
  }
  
  .why-us .card-item:hover {
    background: var(--accent-color);
    padding: 30px 30px 70px 30px;
  }
  
  .why-us .card-item:hover span,
  .why-us .card-item:hover h4 a,
  .why-us .card-item:hover p {
    color: var(--contrast-color);
  }